body{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.info-container{
    width:100%;
    height:40vh;
    overflow:hidden;
}
img{
    width:100%;
    z-index:1;
}
.data{
    position:absolute;
    top:7%;
    left:40%;
    display:flex;
    flex-direction:column;
    width:20%;
    
}
.amount{
    font-size:2rem;
}
.data>p{
    color:white;
    text-align:center;
    z-index:2;
    text-align:center;
    width:100%;
}
.span1{
color:black;
padding:0.5rem;
font-size:1rem;
width:50%;
}
.span2{
    color:white;
    padding:0.5rem;
    font-size:1rem;
    width:30%;
    justify-self:flex-end;
}
.span3{
    font-size:0.7rem;
    color:white;
    justify-self:flex-end;
    background-color:#c54552;
}
.income{
    height:2rem;
    background-color:#20c6b6;
    display:flex;
    flex-direction:row;
    justify-items:space-between;
    align-items:center;
}
.expenses{
    height:2rem;
    background-color:#bf1f2f;
    display:flex;
    flex-direction:row;
    justify-items:space-between;
    align-items:center;
}
.inputs{
    display:flex;
    flex-direction:row;
    width:55%;
    margin:auto;
    margin-top:3%;
}
.number{
    width:7%;
    margin:1%;
}
.des{
    width:50%;
    margin:1%;
}
.val{
    width:20%;
    margin:1%;
}
.btn{
    width:5%;
    margin:1%;
    border-radius:50%;
    cursor:pointer;
    border:green solid;
    color:green;
    outline:hidden;
}
.lists{
    margin:auto;
    display:flex;
    flex-direction:row;
    width:80%;
    margin-top:5%;
}
.list-holder>p{
    text-align:center;
}
.lists>.list-holder{
    width:50%;
}
.expenses-list-header{
    color:#bf1f2f;
    font-size:1.5rem;
}
.income-list-header{
    color:rgb(65, 168, 117);
    font-size:1.5rem;
}
ul{
    height:100%;
    list-style-type: none;
}
.radios{
width:5%;
position:relative;
}
.radio{
    margin-left:0.5rem;
    position:absolute;
    right:0;
    margin-top:0.5rem;
}
label{
    margin-left:1rem;
}




/*ADDED ELEMENTS STYLES  */


li{
    height:2rem;
    margin:1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.3rem #eeeeee;
}
.li-par-left{
    float:left;
    text-decoration:solid;
  font-size:1.2rem;

}
.li-par-right{
    float:right;
    display:flex;
    flex-direction:row;
    align-items:space-between;
    font-size:1.2rem;
}
.deleteBtn{
    color:white;
    background-color:white;
    color:#bf1f2f;
    border-radius:50%;
    cursor:pointer;
    outline:hidden;
    border-color:#bf1f2f;
    float:right;
    margin-top:0.4rem;
    font-size:0.6rem;
    margin-left:1rem;
}
.par-percent{
    float:right;
    font-size:1rem;
    margin-top:0.3rem;
    background-color:#dddddd;
    color:#bf1f2f;
    margin-left:1rem;
}
.green{
    color:#20c6b6;
}
.red{
    color:#bf1f2f;
}