body{
    background-color:#A3C6C4;
    font-weight:700;
}
.search-by{
    color:#E0E7E9;
}
#searches{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:70%;
    margin:5% auto 0 auto;
}
#searchField{
    width:40%;
}
#searches>button{
    margin-right:5%;
    background-color: #6C7A89;
    color:#E0E7E9;
    outline:hidden;
    border:hidden;
}
table{
    background-color:#E0E7E9;
    width:70%;
    margin:auto;
    margin-top:10%;
    color:#354649;
}
.img-container{
    width:25%;
}
img{
    height:9vw;
    width:7vw;
}
th{
    text-align:center;
    color:grey;
}
td{
    text-align:center;
}
h5{
    width:200%;
    text-align:center;
}
#load-more{
width:20%;
margin:auto;
text-align:center;
}
#load-more-button{
    border:none;
    background-color:#E0E7E9;
    outline:hidden;
    border-radius:30%;
}